.chat {
  display: flex;
  flex-direction: row;
}

.chat__messages {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 1em;
  margin: 0 5px 0 0px;
  height: 500px;
  width: 70%;
}

.chat__messages p {
  background-color: #cedcff;
  margin: 10px 0;
  padding: 5px 10px;
  border-radius: 5px;
}

.chat__messages--input {
  flex-grow: 1;
}

.chat__users {
  background-color: #373F52;
  border: 1px solid #cccccc;
  color: white;
  border-radius: 5px;
  padding: 1em;
  margin: 0 0 0 5px;
  height: 500px;
  width: 30%;
}

#chat-form_message {
  margin-bottom: 0;
}

#chat-form {
  margin-bottom: 0;
}


@media ( max-width: 991.98px ) {
  .chat {
    flex-direction: column;
  }

  .chat__messages { 
    width: 100%;
    margin: 5px;
  }

  .chat__users { 
    width: 100%;
    margin: 5px;
  }
}
